<html>
<head>
<title>Search byMovieID</title>
</head>
<body bgcolor="springgreen">
	<h2>Search By Movie Collection:</h2>
	<form name="add" action="/getmoviebycollection" method="POST">
		<table>

			<tr>
				<td>Enter the Movie Collection:
				<td><input type="number" id="movieCollection1" name="movieCollection1" min="1000000" max="10000000"/></td>
				<td><input type="number" id="movieCollection2" name="movieCollection2" min="1000000" max="10000000"/></td>
				<td><input type="submit" value="search" name="search" /></td>
			</tr>


		</table>
	</form>
	
	<br>
	<a href="index.html">home</a>

</body>
</html>