<html>
<head>
<title>Search byMovieID</title>
</head>
<h2>Search By Movie Name:</h2>
<body bgcolor="springgreen">
	<form name="add" action="/getmoviebyname" method="POST">
		<table>

			<tr>
				<td>Enter the Movie Name:
				<td><input type="text" placeholder="enter Movie Name"
					name="movieName" id="movieName" /></td>
				<td><input type="submit" value="search" name="search" /></td>
			</tr>


		</table>
	</form>
	
	<br>
	<a href="index.html">home</a>

</body>
</html>